<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd"
       default-lazy-init="true">
       
	<!-- Enable Shiro Annotations for Spring-configured beans.  Only run after -->
	<!-- the lifecycleBeanProcessor has run: -->
	<!-- <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
	    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
	    <property name="securityManager" ref="securityManager"/>
	</bean> -->

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="/login"></property>
        <property name="successUrl" value="/index"></property>
        <property name="filters">
            <util:map>
            	<entry key="captchaValidate" value-ref="captchaValidateFilter"/>
                <entry key="authc" value-ref="authcFilter"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon
                /captcha* = anon
                /user/login = captchaValidate,authc
                /logout = logout
                /** = user
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="databaseRealm" />
        <property name="cacheManager" ref="redisCacheManager" />
    </bean>

    <bean id="databaseRealm" class="com.qlp.cms.service.permission.DataBaseRelam">
        <property name="credentialsMatcher" ref="passwordMatcher"></property>
    </bean>
    
    <bean id="passwordMatcher" class="com.qlp.cms.service.permission.RetryPasswordCount">
        <property name="limit" value="5"></property>
        <property name="hashAlgorithmName" value="SHA-256"></property>
        <property name="storedCredentialsHexEncoded" value="true"/>
    </bean>

    <bean id="redisCacheManager" class="com.qlp.core.cache.RedisCacheManager">
    	<property name="keyPrefix" value="shiro_redis_cache:"></property>
    	<property name="redisTemplate" ref="redisTemplate"></property>
    </bean>

    <bean id="authcFilter" class="com.qlp.cms.filter.MyFormAuthenticationFilter">
        <property name="usernameParam" value="loginName"/>
        <property name="passwordParam" value="password"/>
        <property name="rememberMeParam" value="rememberMe"/>
        <property name="failureKeyAttribute" value="shiroLoginFailure"/>
    </bean>
    
    <bean id="captchaValidateFilter" class="com.qlp.cms.filter.CaptchaValidateFilter">
        <property name="captchaEbabled" value="true"/>
        <property name="captchaCodeKey" value="captchaCode"/>
        <property name="failureKeyAttribute" value="shiroLoginFailure"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>
